
/* HEADER */
header{
  background: red;
}

.header{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1.5rem;
}

.header h2{
  margin-left: 1rem;
  margin: 1rem auto;
  color: #fff;
}

/* MAIN */
.main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1.5rem;
}

.image-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.image-desc img{
  width: 15rem;
  border-radius: 5px;
}


.comics{
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
}
