:root{
  --padding-width: 1.5rem;
  --primary-color: #ec1d24
}

/* HEADER */
header{
  background-color: var(--primary-color);
}

header .header{
  display: flex;
}

header .header h1{
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main-content{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: var(--padding-width);
}

.hero-info{
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1rem;
  align-items: center;
}

.hero-info img{
  width: 10rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 5px;
}

/* NAV */
.nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: var(--padding-width);
  
}

.nav input {
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.5;
  /* width: 100%; */

  border-radius: 0.25rem;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
  outline: none;
}

.buttons-nav{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.button {
  background-color: var(--primary-color);
  height: 2rem;
  width: 5rem;
  
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin-top: .6rem;

  cursor: pointer;
}

/* PAGINATION */
.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: black;
  padding-bottom: 2rem;
}

.pagination .page-num {
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.active{
  background-color: var(--primary-color) ;
  color: #fff;
}


@media (max-width: 767px){
  :root{
    --padding-width: 1rem
  }

  .hero-info img{
    width: 6rem;
  }

  .pagination .page-num {
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    font-size: smaller;
  }
}